#container {
    text-align: center;
}

    #chart {
        margin-left: auto ;
        margin-right: auto ;
        width: 800px;
        height: 450px;
        border: 1px solid black;
    }

        #chartInner {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            display: none;
        }

        #loader {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            display: none;
        }

            #loader img {
                padding: 0;
                width: 16px;
                height: 16px;
                position:absolute;
                top:50%;
                left:50%;
                margin-top:-8px;
                margin-left:-8px;
            }

    #controls {
        margin-left: auto ;
        margin-right: auto ;
        width: 800px;
        text-align: left;
        height: auto;
    }

        #controls div {
            margin-top: 1em;
            width: auto;
            line-height: 28px;
        }


        #controls .left {
            float: left;
        }

        #controls .right {
            text-align: right;
            float: right;
        }

        #controls #type {
            border-bottom: 1px dashed black;
            cursor: pointer;
        }

        #controls #term {
            width: 400px;
            border: 1px solid black;
            height: 28px;
            background: url(../images/search.png) no-repeat 5px 5px;
            padding-left: 25px;

        }


    #footer {
        margin-left: auto ;
        margin-right: auto ;
        width: 800px;
    }

        #footer div {
            margin-top: 1em;
            width: auto;
        }
    
        #footer .left {
            float: left;
        }

        #footer .right {
    	    text-align: right;
            float: right;
        }


