#container {
    text-align: center;
}

#chartInner {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    display: none;
}

#chart {
    margin-left: auto ;
    margin-right: auto ;
    width: 800px;
    height: 450px;
    border: 1px solid black;
}

#footer {
    margin-left: auto ;
    margin-right: auto ;
    width: 800px;
}

#footer div {
    width: auto;
}

#footer #left {
    float: left;
}

#footer #right {
    float: right;
}

#loader {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    display: none;
}


#loader img {
    padding: 0;
    width: 16px;
    height: 16px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-8px;
    margin-left:-8px;
}
